<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.energy.mapper.TbEquEnergyDataMapper">

    <select id="selectLatestDataByModuleId" resultType="org.jeecg.modules.energy.entity.TbEquEnergyData">
        SELECT * FROM tb_equ_energy_data 
        WHERE module_id = #{moduleId} 
        ORDER BY equ_energy_dt DESC 
        LIMIT 1
    </select>

</mapper> 